@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// Font
$main-font: 'Lato', sans-serif;
$font-small: 10px;
$font-medium: 15px;
$font-big: 20px;


// Colors
$white: #D8D8D8;
$black: #070707;
$dark-grey: #111111;
