@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// Dimensions
$max-width: 750px;

// Colors
$white: #4df8e2;
$black: #070707;
$dark-grey: #111111;
