@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// Dimensions
$max-width: 750px;

// Colors
$white: #D8D8D8;
$black: #540000;
$dark-grey: #111111;
