@import 'variables';
.wrapper {
  width: 115px;
  height: 114px;
  border-bottom: 1px solid $white;
  background-color: $dark-grey;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 0 20px 20px 0;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .wrapper {
    margin: 0 15px 15px 0;
  }
}
