@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  box-sizing: border-box;
  outline: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  cursor: url('../public/graphics/cursor.svg') 6 6, auto !important;
}

*::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

*::selection {
  background-color: $white;
  color: $black;
  opacity: 0.99;
}

h1, h2, h3, p, a {
  color: $white;
}

h1, h2 {
  font-size: 60px;
  font-weight: 300;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px
}

p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Black.ttf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Thin.ttf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}



