.section {
  width: 100%;
  padding: 70px;
}

@media screen and (max-width: 1000px) {
  .section {
    padding: 35px;
  } 
}

@media screen and (max-width: 750px) {
  .section {
    padding: 55px 25px 0 25px;
  }
}
